@import "tailwindcss";


/* Seus estilos customizados */
body {
  font-family: 'Cormorant Italic', serif;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  color: #431f13;
  text-align: left;
  margin-top: -120px;
  font-style: italic;
  .highlight {
  color: #b38055;
}

}

p {
  text-align: left;
}
